body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: lime;
}
.Score {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    fon
}